@font-face {
    font-family: 'poj-phiaute';
    src: url('../media/poj-Phiaute-Regular.otf');
}

@font-face {
    font-family: 'huninn';
    src: url('../media/jf-openhuninn-2.1.ttf');
}

@font-face {
    font-family: 'GenSekiGothicJP-M';
    src: url('../media/GenSekiGothic2JP-M.otf');
}

.homepage-title-latin {
    font-family: 'poj-phiaute', sans-serif
}

.homepage-title-hanji {
    font-family: 'poj-phiaute', 'GenSekiGothicJP-M', sans-serif
}

.notice-board-header button.accordion-button {
    background-color: #198754 !important;
    color: white !important;
}
.notice-board-header button.accordion-button:not(.collapsed) {
    background-color: #198754 !important;
    color: white !important;
}

.notice-board-border-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.notice-board-border-buttom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}